@use "../Global/" as *;
.l-footer__inner {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1340px;
  width: 90%;
  gap: 50px;
  align-items: center;
  @include md {
    flex-direction: column-reverse;
    width: 100%;
    justify-content: center;
    gap: 23px;
  }
}

.l-footer__img-wrapper {
  width: 22%;
  @include md {
    width: 175px;
  }
}

.l-footer__img {
  width: 100%;
}

.l-footer__text-wrapper {
  width: 63%;
  max-width: 730px;
  @include md {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
  }
}

.l-footer__text-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-end;
  @include md {
    justify-content: center;
    column-gap: 12px;
    row-gap: 8px;
  }
}

.l-footer__text-item {
  font-size: 12px;
  @include md {
    font-size: 10px;
  }
}
